{% load tz %}
{% load i18n %}

<p>{% trans "Hi there!" %}</p>
<p>{% trans "We have completed the classifier training." %}</p>
<br>
<p>{% trans "You can find the results below." %}</p>
<ul>
    <li>{% trans "Total created:" %} {{ total_created }}</li>
    <li>{% trans "Total updated:" %} {{ total_updated }}</li>
    {% if errors %}
        <li>
            {% trans "Errors:" %}
            {% for error in errors %}
                <span style="color: red; font-style: italic">{{ error }}</span>
            {% endfor %}
        </li>
    {% endif %}
</ul>
<p>{% trans "Thanks," %}</p>
<p>{% blocktrans with brand=branding.name %}The {{ brand }} Team {% endblocktrans %}</p>
