.replacement_message
    This message is UCS-2 encoded. UCS-2 has only 70 characters per segment vs. 160 characters
    for 7-bit/GSM. If you replace the following characters, you can get more space for your
    message and likely save money.
    .pt-0
        =accent_chars
