- extends 'smartmin/form.html'
- load compress temba smartmin i18n

- block title-icon
  .title-icon
    %span{class: "glyph {{ icon_slug }}"}

- block title
  .title-text
    %h1 Facebook Ads JSON

- block form
  <form class="smartmin-form" method="post" enctype="multipart/form-data" {% if action_url  %}action="{{ action_url }}"{% endif %}>
    - csrf_token
    - if form.non_field_errors
      %div.alert.alert-error.form-errors
        = form.non_field_errors

    .new-json-form
      .ads-input
        - render_field 'facebook_ads'
      .ads-submit.ml-auto
        %input.button-primary{type: "submit", value: "{{ submit_button_name }}"}
  </form>

  - if facebook_ads
    %table.list.object-list.lined
      %thead
        %tr
          %th Adds Available
          %th
          %th.text-center JSON
          %th.text-center Type
          %th.text-center Created On
          %th.text-center Delete

      %tbody
        - for facebook_ad in facebook_ads
          %tr
            %td
              = facebook_ad.campaign_name
            %td.text-center.action
              %a
                Edit
            %td.text-center.action
              %a.copy-link{onclick: 'copyToClipboard("{{ facebook_ad.advertisement_json|escapejs }}")'}
                Copy
            %td.text-center
              = facebook_ad.get_ads_type_display
            %td.text-center
              - format_datetime facebook_ad.created_on
            %td.text-center
              %a.delete-link{onclick: "showDeleteJsonModal({{ facebook_ad.id }})"}
                .glyph.icon-remove-2
  - else
    .info
      No Facebook Ad created yet

  %input.hidden#copying-field{type: "text"}
  %temba-modax{ id:'delete-json', header:'{{_("Delete Facebook Ads JSON")|escapejs}}'}
  %temba-dialog{ id: 'copy-json', header:'{{_("Copy Facebook Ads JSON")|escapejs}}'}
    #copy-json-message-body.p-6

-block extra-script
  {{block.super}}
  :javascript
    function showDeleteJsonModal(id) {
      var modax = document.querySelector('#delete-json');
      modax.endpoint = `/facebook_ads/delete/${id}/`;
      modax.open = true;
    }

    function copyToClipboard(adJson) {
      let copyingField = document.querySelector("#copying-field");
      try {
        let parsedJson = JSON.parse(adJson);
        copyingField.value = JSON.stringify(parsedJson);
        navigator.clipboard.writeText(copyingField.value).then(() => {
          showInformationMessage("The Facebook Ad JSON copied!");
        }).catch(() => {
          copyingField.select();
          document.execCommand("copy");
        })
      } catch (e) {
        showErrorMessage("This data can't be copied.")
      }
    }

    function showInformationMessage(message) {
      document.querySelector("#copy-json-message-body").innerText = message;
      let dialog = document.querySelector("#copy-json");
      let header = dialog.shadowRoot.querySelector(".header-text");
      if (header.classList.contains("alert")) {
        header.classList.remove("alert");
        header.style.backgroundColor = "var(--color-primary-dark)";
      }
      dialog.primaryButtonName = '{{_("OK")|escapejs}}';
      dialog.cancelButtonName = '';
      dialog.open = true;
    }

    function showErrorMessage(message) {
      document.querySelector("#copy-json-message-body").innerText = message;
      let dialog = document.querySelector("#copy-json");
      let header = dialog.shadowRoot.querySelector(".header-text");
      if (!header.classList.contains("alert")) {
        header.classList.add("alert");
        header.style.backgroundColor = "var(--color-error)";
      }
      dialog.cancelButtonName = '{{_("Close")|escapejs}}';
      dialog.primaryButtonName = '';
      dialog.destructive = true;
      dialog.open = true;
    }

    window.addEventListener("DOMContentLoaded", function() {
      let dialog = document.querySelector("#copy-json");
      dialog.addEventListener("temba-button-clicked", function(event){
        dialog.open = false;
      });
    });

-block extra-style
  {{block.super}}
  :css
    .new-json-form {
      display: flex;
      align-items: end;
      width: 100%;
    }

    .ads-input {
      width: 70%;
    }

    .ads-submit {
      margin-bottom: 10px;
    }

    .text-center {
      text-align: center !important;
    }
