-extends "smartmin/update.html"
-load i18n

-block summary
  -if voice_preferred_channel or sms_preferred_channel
    -if voice_preferred_channel
      -blocktrans trimmed with ivr_channel=voice_preferred_channel
        Preferred IVR channel: <b>{{ ivr_channel }}</b><br>
    -if sms_preferred_channel
      -blocktrans trimmed with sms_channel=sms_preferred_channel
        Preferred SMS channel: <b>{{ sms_channel }}</b>
  -else
    -trans "Choose your preferred channels for IVR/Voice and SMS/MMS."
