-extends "smartmin/form.html"
-load i18n

-block title
  .page-title= org.name

-block page-top
  -if org.is_active
    -if org.is_suspended
      .alert-warning.mb-4
        -trans "This workspace has been suspended"

    -if org.is_flagged
      .alert-warning.mb-4
        -trans "This workspace has been flagged for possible spamming"

    -if org.is_verified
      .alert-info.mb-4
        -trans "This workspace has been verified"
  -elif org.released_on and not org.deleted_on
    .alert-danger.mb-4
      -trans "This workspace has been scheduled for deletion"
  -elif org.deleted_on
    .alert-danger.mb-4
      -trans "This workspace has been deleted"

  {{ block.super }}

-block extra-style
  :css
    .org_users {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 0 50%;
      display: flex;
      align-items: flex-start;
      align-content: space-around;
    }
    .org_users_block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: stretch;
      justify-content: space-around;
      flex: 1 0 50%;
    }

-block pre-form
  .mb-4.grid.grid-cols-3.gap-4
    -for user_role in users_roles
      .mb-2
        .cap-label
          {{user_role.role_display}}
        -for user in user_role.users
          %a{href:'{% url "orgs.user_update" user.id %}'}
            {{user.email}}
