-extends 'smartmin/form.html'
-load compress temba smartmin i18n

-block form-span
  span8

-block title-icon
  .title-icon
    %span{class: "glyph {{ icon_slug }}"}

-block title
  .title-text
    %h1 Facebook Ads JSON

-block fields
  {{block.super}}


-block extra-script
  {{block.super}}


-block extra-style
  {{block.super}}
