<div class="flow-template-container">
  <div class="lp-frame" >
    <div class="left">
      <div class="side-bar-header">
        Templates
      </div>
      <div class="search-box">
        <temba-textinput onkeyup="debouncedFilterRequest.bind(this)(event)"></temba-textinput>
      </div>
      <div>
        <div class="lp-nav upper">
          <div class="font-normal lp-nav-item" onclick="filterRequest('')">
            <div class="name">All Templates </div>
            <div class="count">
              <span class="badge">{{total}}</span>
            </div>
          </div>
          {% for group in groups %}
            <div class=" lp-nav-item">
              <div onclick="filterRequest('{{group.group__uuid}}')" class="name">{{group.group__name}} </div>
              <div onclick="filterRequest('{{group.group__uuid}}')" class="count">
                <span class="badge">{{group.total}}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-body-header">Create your new flow</div>
      <div>
        <div class="blank-flow-button" onclick="createBlank()">
          <div class="blank-flow-button-icon-1"></div>
          <div class="blank-flow-button-text">
            <div class="top-text">Start from scratch</div>
            <div class="bottom-text">Begin with a blank flow</div>
          </div>
          <div class="blank-flow-button-icon-2 icon-arrow-right-7"></div>
        </div>
        <div class="template-list">
          {% for template in templates %}
          <div
            class="template-link"
            onclick="onLinkClicked.bind(this)()"
            data-uuid="{{template.uuid}}"
            data-name="{{template.name}}"
          >
            <div class="template-link-icon"></div>
            <div class="template-link-title">{{template.name}}</div>
            <div class="template-link-description">
              {{template.description}}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<temba-dialog
  header="Create Template Confirmation"
  primaryButtonName="Confirm"
  class="hide"
  id="select-to-create-flow"
  destructive="true"
>
  <div class="p-6">
    <div class="dialog-message mb-10">
      You are about to create a flow from the selected template.<br>
      Kindly confirm to continue.
    </div>

    <temba-textinput
      name="name"
      value=""
      label="Flow Name"
      help_text="You can replace the name here with your chosen name"
    />
  </div>
</temba-dialog>
<link rel="stylesheet" href="{{ STATIC_URL }}/css/tailwind.css" type="text/css">
<style type="text/css">
    .flow-template-container {
        margin-top: 10px;
        margin-bottom: -20px;
    }
    .flow-template-container .count {
        margin-left: 0 !important;
    }
    .flow-template-container .count .badge {
        background-color: #e6f9f9;
        min-width: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        display: inline-block;
        text-align: center;
        font-size: 0.7rem;
    }
    .flow-template-container .left {
        width: 194px;
        font-size: 0.8rem;
        border-right: 1px solid #c1c1c1;
        margin-left: -20px;
        padding: 20px 10px;
    }
    .flow-template-container .left .upper{
        width: 100% !important;
        padding: 0 !important;
    }
    .search-box {
      width: 100%;
    }

    .flow-template-container .right {
        padding-top: 20px;
        width: 518px;
    }
    .blank-flow-button {
        border: 1px solid #C7D8D7;
        border-radius: 8px;
        padding: 10px;

        display: grid;
        grid-template-columns: 10% 85% 5%;
        cursor: pointer;
    }
    .blank-flow-button-icon-1, .blank-flow-button-text, .blank-flow-button-icon-2 {
        /*float: left;*/
        /*display: table-column;*/
    }
    .blank-flow-button-icon-1, .blank-flow-button-icon-2 {
        background-repeat: no-repeat;
        height: 48px;
    }
    .blank-flow-button-icon-1 {
        background-color: #E7F9F9;
        background-position: center;
        background-image: url("{{ STATIC_URL }}/images/doc.png");
        border-radius: 12px;
    }
    .blank-flow-button-icon-2 {
        background-image: url("{{ STATIC_URL }}/images/left-arrow.png");
        background-position: right;
    }
    .blank-flow-button-text {
        margin-left: 10px;
    }
    .blank-flow-button-text .top-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    .blank-flow-button-text .bottom-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #66707A;
    }
    .right-body-header, .side-bar-header {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
    }
    .template-list {
        padding-top: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        max-height: 40vh;
        overflow-y: auto;
        margin-right: -15px;
        margin-top: 15px;
    }
    .template-link {
        height: 157px;
        border: 1px solid #C7D8D7;
        border-radius: 8px;
        cursor: pointer;
    }
    .template-link-icon {
        height: 85px;
        background-image: url("{{ STATIC_URL }}/images/template-icon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F8FAFC;
        border-radius: 8px;
    }
    .template-link-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 10px 0;
    }
    .template-link-description {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #66707A;
        opacity: 0.8;
        padding: 5px 10px 10px;
    }
</style>
{% block modal-script %}
<script>
  function handleResponse(response) {
    if (response.status >= 200 && response.status <= 299) return response.json();
    throw Error(response.statusText);
  }

  function handleConfirmation(selectedBox, confirmationBox, inputBox) {
    const uuid = selectedBox.getAttribute('data-uuid');
    const POST_URL = `/flowtemplate/create_flow/${uuid}/`;
    const formData = new FormData();
    formData.append('name', inputBox.value);
    formData.append('uuid', uuid)
    const options = getHTTPOptions();
    const payload = new URLSearchParams(formData);
    fetch(POST_URL, { ...options, body: payload, method: 'POST' })
      .then(handleResponse)
      .then(function(body) {
        let redirectUrl = '{% url "flows.flow_list" %}';
        if (body.flow_url) redirectUrl = body.flow_url;
        window.location.href = redirectUrl;
      })
      .catch(function() {
        confirmationBox.classList.add('hide');
        confirmationBox.open = false;
      });
  }

  function onLinkClicked() {
    const selectedBox = this;
    const name = selectedBox.getAttribute('data-name');
    const { modaxBody } = getModalResources();
    const confirmationBox = modaxBody.querySelector('#select-to-create-flow');
    const inputBox = confirmationBox.querySelector('temba-textinput');
    const dialogButtons = confirmationBox.shadowRoot.querySelectorAll('temba-button');

    inputBox.value = name;
    confirmationBox.classList.remove('hide');
    confirmationBox.open = true;

    dialogButtons.forEach((button) => {
      const isConfirmButton = button.shadowRoot.querySelector('.button-name').innerHTML.indexOf('Confirm') > 0;
      if (isConfirmButton) button.onclick = handleConfirmation.bind(button, selectedBox, confirmationBox, inputBox);
    });
  }
</script>
{% endblock %}
