-extends 'includes/modal.html'
-load i18n temba

-block modal
  {{block.super}}

  -blocktrans
    You are about to exit the flow
    %span.font-normal
      {{object}}.
    Are you sure?

  .hidden
    %form(method="POST")
      %input(type="submit" value="{{submit_button_name}}")
