-load i18n

.flex.flex-col.p-12
  .page-title
    -trans "Dashboards"

  .mt-4
    -blocktrans
      You don't have any dashboard on this organization, please select them going through the organization home page.
