-extends "smartmin/list.html"
-load smartmin sms temba compress
-load i18n humanize

-block title-icon
  .title-icon
    %span.glyph.icon-stats

-block page-title
  -trans "Dashboard"

-block page-top

-block content

  .lp-frame
    .left

      .lp-nav.lower
        .font-normal.uppercase.text-xs.text-gray-500.pb-1
          -trans "Dashboards"
        .inner-scroll
          -for dashboard in dashboards
            .lp-nav-item(class="{% if request.get_full_path == dashboard.get_url %}font-normal{% endif %}")
              .name(onclick="goto(event)" href='{{dashboard.get_url}}')
                {{dashboard.metabase_dashboard_title}}

    .right
      #token-expired-message.alert.alert-error.hidden
        %b
          The Metabase token is expired, please refresh the page.
      .flex.w-full
        .flex.w-full.mb-4.items-end.flex-wrap.justify-end.-mt-2(style="min-height:41px")
          -block action-buttons
            .flex-grow.ml-1.self-end.items-end
              .flex.flex-col.pr-12
                .page-title.leading-tight
                  {{title}}
      -if dashboard_url
        %iframe{
          id:"metabase-dashboard-iframe",
          src:"{{dashboard_url}}",
          frameborder:"0",
          width:"100%",
          height:"540",
          allowtransparency:""
        }
      -else
        -include "dashboard/empty_include.haml"

-block extra-style
  {{ block.super }}
  :css
    #token-expired-message {
      margin-bottom: 20px;
    }

-block extra-script
  {{ block.super }}

  :javascript
    function makeTokenExpiredAlert(){
      const el = document.querySelector('#token-expired-message');
      el.classList.remove("hidden");
    }

    setInterval(makeTokenExpiredAlert, 600000);
